<!-- top-header -->
<header>
  <div class="top-header">
    <div class="other-sec">
      
      <div class="logo">
        <img src="assets/logo.png">
        <div id="nav-icon" (click)="toggleHeader()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div class="navigation">
        <ul>
          <li><a routerLink="/dashboard"  routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Dashboard</a></li>
          <li><a routerLink="/offer-list"  routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Offer</a></li>
          <li><a routerLink="/gift-list"  routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Gift Gallery</a></li>
          <li><a routerLink="/coupon-code-list" routerLinkActive="active"  >Coupon Codes</a></li>
          <li><a routerLink="/redeem-request-list"  routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Redeem Requests</a></li>
          <li><a routerLink="/contractor-list" routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Contractor</a></li>
          <li><a routerLink="/architect-list" routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Architect</a></li>
          <!-- <li><a routerLink="/super-list" routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Super 30</a></li> -->
          <li><a routerLink="/site-list" routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Site</a></li>
          <li><a routerLink="/user-list/1" *ngIf="this.db.datauser.id==1 || this.db.datauser.sales_team == 1" routerLinkActive="active">Sales Team</a></li>
          <!-- <li><a routerLink="/site-list/1" *ngIf="this.db.datauser.id==1 || this.db.datauser.site == 1" routerLinkActive="active">Site</a></li> -->
          <li><a routerLink="/main-catefory-list" routerLinkActive="active"  *ngIf="this.db.datauser.id==1">Master</a></li>
          
          
        </ul>
      </div>
    </div>
    
    <div class="connect-alignment">
      <ul>
        
        <li>
          <div class="abacus-connect after-line">
            <a  href="https://devcrm.abacusdesk.com/sircapaints/crm/"> 
              <i class="material-icons"> open_in_new</i> 
              Go To CRM
            </a>
          </div>
        </li>
        <li>
          <div class="top-nav">
            <ul>
              <li>
                <button  mat-button [matMenuTriggerFor]="menu" class="mat-drop pl0">Welcome {{this.db.datauser.username}}</button>
                <!-- <img src="assets/How.jpg"> -->
                <mat-menu #menu="matMenu">
                  <!-- <a mat-menu-item>Profile</a> -->
                  <a mat-menu-item (click)="logout()">Log Out</a>
                </mat-menu>
              </li> 
            </ul>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
</header>


<footer>
  <img src="assets/abacusdesk.png" alt="">
</footer>
