<div class="loader" *ngIf = "loading_list">
  <div class="loding-logo">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="main-container">
  <div class="offer-container" *ngIf = "!loading_list">
    <div class="container">
      <div class="row">
        <div class="col s8 padding0">
          <div class="sprate-box ">
            <div class="full-offer">
              <div class="top-heading">
                <h2>OFFER DETAIL</h2>
                <div class="no-fixed">
                  <button mat-button (click)="edit()"><i class="material-icons">edit</i></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="off">
                <div class="col s4 padding0">
                  <div class="option-field">
                    <div class="territory-infos">
                      <!-- <div class="heads">
                        <h2>OFFER BANNER</h2>
                        
                      </div> -->
                      <div class="cs-checkboxs h198 ">
                        <div class="checkbox-outers">
                          <img [src]="getData.offer_banner" (click)="openDialog4(getData.id,'test7')">
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="col s8 pr0">
                  <div class="option-field">
                    <div class="row mb15">
                      <div class="col s6 pr13">
                        <div class="detail-field">
                          <p>Title</p>
                          <span>{{getData.title  | titlecase }}</span>
                        </div>
                      </div>
                      <div class="col s6 padding0">
                        <div class="detail-field">
                          <p>Offer Code</p>
                          <span># {{getData.offer_code}}</span>
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="row mb15">
                      <div class="col s6 pr13">
                        <div class="detail-field">
                          <p>Offer Start Date</p>
                          <span>{{getData.start_date | date:'dd MMM yyyy'}}</span>
                        </div>
                      </div>
                      
                      <div class="col s6 padding0">
                        <div class="detail-field">
                          <p>Offer End Date</p>
                          <span>{{getData.end_date | date:'dd MMM yyyy'}}</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb15">
                      <div class="col s6 pr13">
                        <div class="detail-field ngc-field">
                          <p>Offer Status</p>
                          <mat-slide-toggle name='offer_status' [(ngModel)]="getData.newsStatus" (change)="updateStatus($event)" ></mat-slide-toggle>
                        </div>
                      </div>
                      
                      <div class="col s6 padding0" *ngIf="getData.reason != ''">
                        <div class="detail-field my-scroll">
                          <div class="space">
                            <p>Deactive Reason :</p>
                            <span>{{getData.deactive_date | date:'d MMMM y'}} /{{ getData.deactive_name}}</span> 
                          </div>
                          
                          <div class="dactive-detail">
                            <p>{{getData.reason}}
                            </p>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    
                    
                    <div class="row mb15">
                      <div class="col s6 pr13">
                        <div class="option-field">
                          <div class="col s6">
                            <div class="control-field"></div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                
              </div>
            </div>
            
            <div class="row">
              <div class="col s6 pl15">
                <div class="option-field">
                  <div class="territory-infos my-scroll">
                    <div class="heads">
                      <h2>TERMS & CONDITION</h2>
                    </div>
                    
                    <div class="condition-list padding15">
                      <ul>
                        <!-- <app-ngx-editor height="100px" minHieght="50px" [placeholder]="'Enter text here...'" [spellcheck]="true"  [(ngModel)]="getData.terms"  #terms="ngModel" name="terms"></app-ngx-editor> -->
                        <li><p  [innerHTML]="getData.terms"></p></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col s6 pr15">
                <div class="option-field">
                  <div class="territory-infos my-scroll">
                    <div class="heads">
                      <h2>DESCRIPTION</h2>
                    </div>
                    
                    <div class="condition-list padding15">
                      <ul>
                        <!-- <app-ngx-editor height="100px" minHieght="50px" [placeholder]="'Enter text here...'" [spellcheck]="true"  [(ngModel)]="getData.description"  #description="ngModel" name="description"></app-ngx-editor> -->
                        <li><p  [innerHTML]="getData.description"></p></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s4 pl15">
          <div class="territory-infos my-scroll">
            <div class="head">
              <h2>OFFER SUMMARY</h2>
            </div>
            
            <div class="offer-summery">
              <ul>
                <li *ngFor="let val of logs; let i = index">
                  <div class="offer-list">
                    <div class="odder-cradet">
                      <p>#{{val.title}}</p>
                      <span>{{val.created_name}}</span>
                    </div>
                    
                    
                    <div class="time-info">
                      <i class="material-icons">watch_later</i>
                      <p>{{val.date_created  | date: 'dd MMM yyyy h:mm a' }}</p>
                    </div>
                  </div>
                  <h4>{{val.remark}}</h4>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="row">
        <div class="col s7 padding0">
          <div class="sprate-box  scroll">
            <div class="full-offer">
              <div class="top-heading">
                <h2>GIFT DETAIL</h2>
                <div class="add-co">
                  <i class="material-icons" (click)="editgift(0)" >add</i>
                </div>
              </div>
              
              <div class="css-table">
                <div class="sticky-header">
                  <div class="header">
                    <table> 
                      <tr>
                        <th class="w50">S.no</th>
                        <th >Title</th>
                        <th class="w100">Points</th>
                        <!-- <th class="w165" >Gift Redeem Request</th> -->
                        <th class="w80">Image</th>
                        <th class="w50">Status</th>
                        <th class="w70">Action</th>
                      </tr>
                    </table>
                  </div>
                </div>
                
                <div class="table-container">
                  <div class="table-body">
                    <table>
                      <tr *ngFor="let v of gift; let i = index">
                        <td class="w50">{{ i + 1 }}</td>
                        <td >{{v.gift_title  | titlecase }}</td>
                        <td class="w100">{{v.coupon_points}}</td>
                        <!-- <td class="w165">
                          <div class="request">
                            <button mat-button (click)="giftRedeem(v.gift_id,v.total_redeem)" >
                              <p>{{v.total_redeem}}</p>
                              <i class="material-icons">keyboard_arrow_right </i>
                            </button>
                          </div>
                        </td> -->
                        <td class="w80">
                          <div class="image-thum">
                            <img [src]="v.image" (click)="openDialog2(v.gift_id,'test4')">
                          </div>
                          
                        </td>
                        
                        
                        <td class="w50">
                          <mat-slide-toggle name="gift_status" [(ngModel)]="v.giftStatus" (change)="updateGiftStatus($event,v.gift_id)" ></mat-slide-toggle>
                        </td>
                        
                        <td class="w70 text-center padding0">
                          <div class="td-flex">
                            <button class="right" (click)="editgift(v.gift_id)"><i class="material-icons">edit</i></button>
                            <button class="cancel" *ngIf="v.total_redeem == '0'" (click)="deleteGift(v.gift_id)"><i class="material-icons">delete_sweep</i></button>
                            <button  *ngIf="v.total_redeem != '0'" ></button>
                          </div>
                        </td>
                        
                        
                      </tr>
                    </table>
                  </div>
                </div>
              </div>   
            </div>
            
            
          </div>
        </div>
        
        <div class="row">
          <form name="addOffer" (ngSubmit)="f.form.valid && saveOffer(f) " #f="ngForm" novalidate autocomplete="off">
            <div class="col s5 pl15 ">
              
              <div class="sprate-box ">
                <div class="full-offer">
                  <div class="top-heading">
                    <h2>AREA WISE SELECTION</h2>
                    <p>Indicates required fields ( * )</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="main-pd">
                    <div class="col s6 ">
                      <div class="territory-info">
                        <div class="head">
                          <h2>STATE</h2>
                          <mat-checkbox class="fix-check" [(ngModel)]="addOffer.allStates" (change)="allState()"  name="allStates"  value="true"></mat-checkbox>
                          
                          <!-- <i class="material-icons search-icon" matRipple>search</i>
                            <input type="text" placeholder="search..." class="fix-search">
                            <i class="material-icons close-icon" matRipple>clear</i> -->
                          </div>
                          <div class="cs-checkbox">
                            <div class="checkbox-outer">
                              <section  class="checkbox-inner" *ngFor = "let val of states;let i = index" >
                                <mat-checkbox class="check-list" [(ngModel)]="val.selected" (change)="getDistrictList()"  [name]="'state'+i"  value="true"> {{val.state_name}}</mat-checkbox>
                              </section >
                            </div>
                          </div>
                          
                          
                        </div>
                      </div>
                      
                      <div class="col s6">
                        <div class="territory-info">
                          <div class="head">
                            <h2>DISTRICTS</h2>
                            <mat-checkbox class="fix-check" [(ngModel)]="addOffer.allDistrict" (change)="allDistrict()"  name="allDistrict"  value="true"></mat-checkbox>
                            
                            
                            <!-- <i class="material-icons search-icon" matRipple>search</i>
                              <input type="text" placeholder="search..." class="fix-search">
                              <i class="material-icons close-icon" matRipple>clear</i> -->
                            </div>
                            <div class="cs-checkbox">
                              <div class="checkbox-outer">
                                
                                <ng-container *ngFor = "let val of districts;let i = index">
                                  <ng-container *ngIf="val.selected"  >
                                    
                                    <section  class="checkbox-inner new-bg-add"  >
                                      <mat-checkbox class="check-list"  [(ngModel)]="val.stateWiseDistrict" (change)="allStateWiseDistrict(i)" [name]="'dist'+i"  > {{val.state_name}}</mat-checkbox>
                                    </section >
                                    
                                    <section  class="checkbox-inner"   *ngFor = "let v of val.districts; let x = index">
                                      <mat-checkbox class="check-list" [(ngModel)]="v.selected"   [name]="'district'+x+i"  value="true"> {{v.district_name}}</mat-checkbox>
                                    </section >
                                    
                                  </ng-container>
                                  
                                </ng-container>
                                
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="save un-save" [ngClass]="{loading: savingData}" >
                      <button mat-button  [disabled]="savingData"  class="mb21 mr10">Update</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
          <div class="row">
            <div class="used-code">
              <div class="tab-header">
                <div class="tabs-list pl15 gift-tab-list">
                  <ul>
                    
                    <li>
                      <a>
                        <p>PARTICIPANTS</p>
                        <span>{{sccaned_coupon_count}}</span>
                      </a>
                    </li>
                    
                    
                  </ul>
                  
                </div>
                
                <div class="dobale"  >
                  
                  
                  <div class="top-pagination" >
                    
                    <ul>
                      <li><p >Pages {{ current_page }} of {{ last_page }}</p></li>
                      <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                      <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getParticipantsList()"></li>
                      <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                    </ul>
                  </div>
                  
                  <!-- <div class="transfer-code" *ngIf="mode == '2' && count">
                    <ul>
                      <li>
                        <p>{{ count }} records selected</p>
                      </li>
                      
                      
                      <li >
                        <button mat-raised-button class="deactive" (click)="deletecheckavailable()">
                          <i class="material-icons">delete_sweep</i>Delete
                        </button>
                      </li>
                      
                      
                      <li>
                        <button mat-raised-button class="active" (click)="transferCode()" >
                          <i class="material-icons roted" >reply</i>Transfer Code
                        </button>
                      </li>
                    </ul>
                  </div> -->
                  
                  <!-- <div class="file-import">
                    <div class="border-erea">
                      <label>
                        <form name="couponForm" #f="ngForm" novalidate autocomplete="off">
                          
                          <input type="file" name="coupon" #coupon_data="ngModel" [(ngModel)]="coupon_ex"  (change)="onUploadChange1($event,f)" accept=".csv"   style="display: none;">
                        </form>
                        <i class="material-icons">backup</i>
                        <h4 >Import Coupon Code</h4>
                        
                      </label>
                    </div>
                  </div>
                  
                  <div class="sprate">
                    <div class="downlode-file">
                      <a mat-button class="link" href="http://advance.abacusdesk.com/assets/CouponSampleFile.csv">Download Sample File</a>
                    </div>
                  </div> -->
                </div>
                
                
              </div>
            </div>
            
            <div class="sprate-box no-box">
              <div class="css-table ">
                <div class="sticky-header bo-non">
                  <div class="header no-box">
                    <table>
                      <tr>
                        <td class="w50">S.No.</td>
                        <th class="w200" style="border-right: solid 1px rgba(0, 0, 0, 0.1) !important;">Date / Created By</th>
                        <th class="w250" >Name</th>
                        <th class="w140">Mobile</th>
                        <th class="w150">State</th>
                        <th class="w150">District</th>
                        <th class="w130">D.O.B</th>
                        <th>Gift Achive</th>
                        <th class="w130">Points</th>
                      </tr>
                    </table>
                  </div>
                  
                  <div class="header no-box ">
                    <table>
                      <tr> 
                        <td class="w50"></td>
                        <th class="w200" style="border-right: solid 1px rgba(0, 0, 0, 0.1) !important;"  >
                          <div class="date-form">
                            <i *ngIf="filter.date" class="material-icons" (click)="filter.date = '';getParticipantsList() ">clear</i>
                            <mat-form-field>
                              <input matInput placeholder=" Date" [(ngModel)]="filter.date"  name="date" (click)="openDatePicker(picker3)" matInput (dateChange)="getParticipantsList()" [matDatepicker]="picker3" readonly>
                              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                              <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </th>
                        <th class="w250" >
                          <div class="search-form">
                            <input type="text" placeholder="Search" [(ngModel)]="filter.search_name"  (keyup.enter)="current_page = 1;getParticipantsList()">
                            <i class="material-icons">search</i>
                          </div>
                        </th>
                        <th class="w140">
                          <div class="search-form">
                            <input type="text" placeholder="Search" [(ngModel)]="filter.mobile"  (keyup.enter)="current_page = 1;getParticipantsList()">
                            <i class="material-icons">search</i>
                            
                          </div>
                        </th>
                        <th class="w150">
                          <div class="search-form">
                            <input type="text" placeholder="Search" [(ngModel)]="filter.state"  (keyup.enter)="current_page = 1;getParticipantsList()">
                            <i class="material-icons">search</i>
                            
                          </div>
                        </th>
                        <th class="w150">
                          <div class="search-form">
                            <input type="text" placeholder="Search" [(ngModel)]="filter.district"  (keyup.enter)="current_page = 1;getParticipantsList()">
                            <i class="material-icons">search</i>
                            
                          </div>
                        </th>
                        
                        <th class="w130">
                          <div class="date-form wp-20">
                            <i *ngIf="filter.dob" class="material-icons" (click)="filter.dob = '';getParticipantsList() ">clear</i>
                            
                            <mat-form-field>
                              <input matInput placeholder=" Search"  [(ngModel)]="filter.dob"  name="dob" (click)="openDatePicker(picker5)" matInput (dateChange)="getParticipantsList()" [matDatepicker]="picker5" readonly>
                              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                              <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                            
                          </div>
                        </th>
                        
                        <th>
                          
                        </th>
                        <th class="w130">
                          <div class="search-form">
                            <input type="text" placeholder="Search" [(ngModel)]="filter.balance_point"  (keyup.enter)="current_page = 1;getParticipantsList()">
                            <i class="material-icons">search</i>
                            
                          </div>
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
                
                <div class="table-container" *ngIf="karigars.length">
                  <div class="table-body">
                    <table>
                      <tr *ngFor="let val of karigars; let i = index">
                        <td class="w50">{{ i + 1 }}</td>
                        <td class="w200"><ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' "> {{val.date_created | date: 'dd MMM yyyy'}} / </ng-container>{{val.created_name}}</td>
                        <td class="w250" ><a class="blue" routerLink="/karigar-detail/{{val.id | crypt}}" routerLinkActive="active">{{val.first_name | titlecase}} {{val.last_name | titlecase}}</a>{{val.name}}</td>
                        <td class="w140">{{val.mobile_no}}</td>
                        <td class="w150">{{val.state}}</td>
                        <td class="w150">{{val.district}}</td>
                        <td class="w130">{{val.dob | date : 'dd MMM yyyy'}}</td>
                        <td>
                          <div class="multiple-list">
                            <ul>
                              <li *ngFor="let s of val.gift; let i = index"><p>{{s.gift_title | titlecase}}</p></li>
                            </ul>
                          </div>
                        </td>
                        <td class="w130">{{val.balance_point}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="date-not" *ngIf="!loading_list && !karigars.length && sccaned_coupon_count">
              <div class="no-img">
                <img src="assets/result-not-found.png"> 
              </div>
            </div>
            
            <div class="date-not"  *ngIf="!loading_list && !sccaned_coupon_count ">
              <div class="no-img">
                <img src="assets/not-available.jpg"> 
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    
    