<div class="loader" *ngIf = "loading_list">
  <div class="loding-logo">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="main-container">
  <div class="fixed">
    <div class="middle-container">
      <div class="tabs-list">
      </div>
    </div>
  </div>
  <div class="container-outer tab-container">
    <div class="master-tab">
      <ul>
        <li routerLink="/main-catefory-list" routerLinkActive="active"><a>Category</a></li>
        <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li>
        <!-- <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li> -->
        <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
        <li routerLink="/registration-loyality" routerLinkActive="active"><a>Registration Loyality</a></li>
        <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
        <!-- <li routerLink="/special-dis" routerLinkActive="active"><a>Special Discount/Extra Premium</a></li> -->
        <!-- <li routerLink="/plumber-meet-data" routerLinkActive="active"><a>Plumber Meet Data</a></li> -->
      </ul>
    </div>
    <div class="row">
      <div class="css-table left-right-15">
        <div class="sticky-header">
          <div class="header">
            <table>
              <tr>
                <th class="w50">S. No.</th>
                <th class="w200">Date Created</th>
                <th>Created By</th>
                <th>Company Name</th>
                <th class="w135">Meeting Date</th>
                <th class="w200">Type</th>
                <th class="w165">View</th>
              </tr>
            </table>
          </div>
          
          <div class="header border-bott">
            <table>
              <tr>
                <th class="w50">&nbsp;</th>
                <th class="w200">
                  <div class="date-form">
                    <mat-form-field>
                      <input matInput [matDatepicker]="date_created_picker" placeholder="Date" name="date_created" [(ngModel)]="filter.date_created" (dateChange)="con_date(filter.date_created,'date_created')" readonly>
                      <mat-datepicker-toggle matSuffix [for]="date_created_picker"></mat-datepicker-toggle>
                      <mat-datepicker #date_created_picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th>
                  <div class="search-form">
                    <input matInput placeholder="Name. . ." name="created_by_name" [(ngModel)]="filter.created_by_name" (keyup.enter)="get_plumber_data_list();">
                    <i class="material-icons">search</i>
                  </div>
                  
                </th>

                <th></th>

                <th class="w135">
                  <div class="date-form">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_of_meeting" [(ngModel)]="filter.date_of_meeting" (dateChange)="con_date(filter.date_of_meeting,'date_of_meeting')" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w200"></th>
                <th class="w165"></th>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-body">
            <table>
              <tr *ngFor="let plumber_data of plumber_data_list; let i = index">
                <td class="w50">{{i+1}}</td>
                <td class="w200">{{plumber_data.date_created && plumber_data.date_created!='' ? (plumber_data.date_created | date :' d MMM, y hh:mm a') : '--'}}</td>
                <td>{{plumber_data.created_by_type=='Executive' ? (plumber_data.created_by_user_name && plumber_data.created_by_user_name!='' ? plumber_data.created_by_user_name : '--'):(plumber_data.created_by_dr_name && plumber_data.created_by_dr_name!='' ? plumber_data.created_by_dr_name : '--')}}</td>
                <td>{{(plumber_data.company_name && plumber_data.company_name!='' ? (plumber_data.company_name | titlecase) : '--')}}</td>
                <td class="w135">{{plumber_data.date_of_meeting && plumber_data.date_of_meeting!='' ? (plumber_data.date_of_meeting | date :' d MMM, y') : '--'}}</td>
                <td class="w200">{{plumber_data.created_by_type=='Executive' ? 'Executive' : (plumber_data.dr_type && plumber_data.dr_type !='' && plumber_data.dr_type != null ? plumber_data.dr_type == '1' ? 'Channel Partner' : plumber_data.dr_type == '3' ? 'Dealer' : 'Direct Dealer' : '--')}}</td>
                <td class="w165">
                  <a style ="cursor: pointer" (click)="view_plumber_data(plumber_data.id)" class="ankr-clr">View Plumber Data</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////sub category list copied from /////////////////////////////////////////////////////////////////////// -->
<div class="row">
  <div class="css-table hr-scroll-table left-right-15">
      <div class="sticky-header">
          <div class="header">
              <table>
                  <tr>
                      <th class="w50">&nbsp;</th>
                      <th class="w100">Date Created</th>
                      <th class="w130">Main Category</th>
                      <th class="w130">Category</th>
                      <th class="w160">Contractor Points</th>
                      <th class="w160">Dealer Points</th>
                      <th class="w150">Sales Team Points</th>
                      <!-- <th class="w70 text-center">Group Type</th> -->
                      <th class="w150 text-center">Architect Team Points</th>
                      <!-- <th class="w100 text-center">Product Type</th> -->
                      <!-- <th class="w100 text-center">Net Content</th> -->
                      <!-- <th class="w120">Description</th> -->
                      <!-- <th class="w90 no-padding">
                          <table>
                              <tr>
                                  <th>Status</th>
                              </tr>
                          </table>
                      </th> -->
                      <th class="w200">
                          <table>
                              <tr>
                                  <th>Action</th>
                              </tr>
                          </table>
                      </th>
                  </tr>

              </table>
          </div>

          <div class="header border-bott">
              <table>
                  <tr>
                      <th class="w50">&nbsp;</th>
                      <th class="w100">
                          <!-- <div class="date-form">
                              <i *ngIf="filter.date" class="material-icons" (click)="filter.date = '';getSubCategoryList() ">clear</i>
                              
                              <mat-form-field >
                                  <input placeholder="Date" [(ngModel)]="filter.date" (click)="openDatePicker(picker)"  name="date" matInput (dateChange)="getSubCategoryList()" [matDatepicker]="picker" readonly>
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div> -->
                      </th>
                      <th class="w130">
                          <!-- <div class="form-area">
                              <div class="slect">
                                  <mat-form-field>
                                      <mat-label>Search</mat-label>
                                      <mat-select  name="main_category"  (selectionChange)="getSubCategoryList();getSubCategoryList()"  [(ngModel)]="filter.main_category" #main_category="ngModel" required>
                                          <mat-option  value=""> All </mat-option>
                                          <mat-option *ngFor="let val of ma_category" [value]="val.main_category"> {{val.main_category}} </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div> -->

                      </th>
                      <th class="w130">
                          <!-- <div class="form-area">
                              <div class="slect">
                                  <mat-form-field>
                                      <mat-label>Search</mat-label>
                                      <mat-select  name="category_name"  (selectionChange)="getSubCategoryList()"  [(ngModel)]="filter.category_name" #category_name="ngModel" required>
                                          <mat-option  value=""> All </mat-option>
                                          <mat-option *ngFor="let val of category" [value]="val.category_name"> {{val.category_name}} </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div> -->

                      </th>
                      <th class="w160">
                          <!-- <div class="search-form">
                              <input type="text" placeholder="Search" [(ngModel)]="filter.product_name"  (keyup.enter)="current_page = 1;getSubCategoryList()">
                              <i class="material-icons">search</i>
                          </div> -->
                      </th>
                      <th class="w160">
                          <!-- <div class="search-form">
                              <input type="text" placeholder="Search" [(ngModel)]="filter.product_code"  (keyup.enter)="current_page = 1;getSubCategoryList()">
                              <i class="material-icons">search</i>
                          </div> -->
                      </th>
                      <th class="w150"></th>
                      <!-- <th class="w70">
                          <div class="form-area">
                              <div class="slect">
                                  <mat-form-field>
                                      <mat-label>Search</mat-label>
                                      <mat-select  [(ngModel)]="filter.group_type" name="group_type" #group_type="ngModel" (selectionChange)="getProductList()">
                                          <mat-option value="">All</mat-option>
                                          <mat-option value="PTMT">PTMT</mat-option>
                                          <mat-option value="Other">Others</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                      </th> -->
                      <th class="w150">
                          <!-- <div class="form-area">
                              <div class="slect">
                                  <mat-form-field>
                                      <mat-label>Search</mat-label>
                                      <mat-select  [(ngModel)]="filter.new_arrival" name="new_arrival" #new_arrival="ngModel" (selectionChange)="getSubCategoryList()">
                                          <mat-option value="">All</mat-option>
                                          <mat-option value="Yes">Yes</mat-option>
                                          <mat-option value="No">No</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div> -->
                      </th>
                      <!-- <th class="w100" style="word-break: break-all;"></th>
                      <th class="w100" style="word-break: break-all;"></th>
                      <th class="w120" style="word-break: break-all;"></th> -->
                      <!-- <th class="w90 no-padding">
                          <table>
                              <tr>
                                  <th>
                                      <div class="form-area">
                                          <div class="slect">
                                              <mat-form-field>
                                                  <mat-label>Search</mat-label>
                                                  <mat-select  [(ngModel)]="filter.status" name="status" #status="ngModel" (selectionChange)="getSubCategoryList()">
                                                      <mat-option value="">All</mat-option>
                                                      <mat-option value="Active">Active</mat-option>
                                                      <mat-option value="Deactive">Deactive</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                          </div>
                                      </div>
                                  </th>
                              </tr>
                          </table>
                      </th> -->
                      <th class="w200">
                          <table>
                              <tr>
                                  <th>

                                  </th>
                              </tr>
                          </table>
                      </th>
                  </tr>
              </table>
          </div>
      </div>

      <div class="table-container">
          <div class="table-body">
              <table>
                  <tr *ngFor="let val of sub_categories; let i = index">
                      <td class="w50">
                          <!-- <ng-container *ngFor="let image of val.image; let i=index"> -->
                          <img [src]="upload_url+val.actual_image_name"
                              (click)="openDialog(upload_url+val.actual_image_name,'test1')">
                          <!-- </ng-container> -->
                      </td>
                      <td class="w100">
                          <ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' ">
                              <div class="date-tr">
                                  <p>{{val.date_created | date: 'dd MMM yyyy'}}</p>
                                  <span> {{val.created_name}}</span>
                              </div>
                          </ng-container>
                      </td>
                      <td class="w130">{{val.main_category}}</td>
                      <td class="w130">{{val.category_name}}</td>
                      <td class="w160">{{val.contractor_points}}</td>
                      <td class="w160">{{val.dealer_points }}</td>
                      <td class="w150 text-center"> {{val.sales_team_points }}</td>
                      <!-- <td class="w70">{{val.group_type}}</td> -->
                      <!-- <td class="w70">{{val.new_arrival == 1 ? 'Yes' : 'No'}}</td> -->
                      <td class="w150">{{val.architect_points}}</td>

                      <!-- <td class="w100">{{val.net_content}}</td>
                  <td class="w100">{{val.product_type}}</td>
                  <td class="w120">{{val.desc}}</td> -->
                      <!-- <td class="w90 no-padding active ">
                      <table>
                          <tr>
                              
                              <td class="no-border text-center td-flex">
                                  <mat-slide-toggle [name]="'status'+i" [(ngModel)]="val.newsStatus" (change)="updateStatus(i,$event)" ></mat-slide-toggle>
                                  
                              </td>
                          </tr>
                      </table>
                  </td> -->
                      <td class="w200 padding0">
                          <table>
                              <tr>
                                  <td class="w200 no-border text-center td-flex padding0">
                                      <button class="right"
                                          (click)="toggle1=!toggle1;editSubCategory(val.id,j,val.points)"><i
                                              class="material-icons">edit</i></button>
                                      <button class="cancel" *ngIf="val.product_count==0"
                                          (click)="deleteSubCategory(val.id)"><i
                                              class="material-icons">delete_sweep</i></button>
                                      <button mat-raised-button class="accent" style="margin-left: 20px;"
                                          [matMenuTriggerFor]="menu">Action</button>
                                      <mat-menu #menu="matMenu">
                                          <button mat-menu-item
                                              (click)="toggle = !toggle; editCategory(val.main_category ); val.mainCategory = val.main_category">Edit
                                              Category</button>
                                          <button mat-menu-item
                                              (click)="toggle1 = !toggle1; addSubCategory(val.main_category)">Add
                                              Sub Category</button>
                                          <button mat-menu-item *ngIf="val.product_count==0"
                                              (click)="deleteProduct(val.main_category)">Delete
                                              Category</button>
                                      </mat-menu>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>

              </table>
          </div>
      </div>
  </div>
</div>


<!-- ////////////////// new copieed sub category       //////////////// -->