<div class="loader" *ngIf="loading_list">
  <div class="loding-logo">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="main-container">
  <div class="fixed">
    <div class="tab-header">
      <div class="tabs-list gift-tab-list pl15">
        <ul class="mt0">
          <li>
            <p>Total:<span>{{schemeList.length}}</span></p>
          </li>
        </ul>

        <!-- <div class="input-field" *ngIf="schemeList.length"> -->
        <div class="input-field" *ngIf="schemeList.length">
          <input type="text" placeholder="Search" [(ngModel)]="filter.search"
            (keyup.enter)="current_page = 1;getSchemeList()">
          <i class="material-icons">
            search
          </i>
        </div>

      </div>

      <div class="top-pagination" >
        <div class="master-btn pr30">
          <!-- <button mat-button routerLink="/karigar-add"  routerLinkActive="active" >Add New</button> -->
          <button mat-button (click)="schemeAdd()">ADD NEW</button>

        </div>
        <p (click)="filter={};getSchemeList()"><i class="material-icons">refresh</i> Refresh</p>
        <ul>
          <!-- <li><p (click)="filter={}; getSchemeList()">Reset Filter</p></li> -->
          <li>
            <p>Pages {{ current_page }} of {{ last_page }}</p>
          </li>
          <li><button mat-button class="left-btn" (click)='redirect_previous()'><i
                class="material-icons">keyboard_arrow_left</i></button></li>
          <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page" (keyup.enter)="getSchemeList()"></li>
          <li><button mat-button class="right-btn" (click)='redirect_next()'><i
                class="material-icons">keyboard_arrow_right</i></button></li>
        </ul>
      </div>
    </div>

    <!-- <div class="css-table" *ngIf="schemeList.length"> -->
    <div class="css-table">
      <div class="sticky-header">
        <div class="header">
          <table>

            <tr>
              <th class="w30">&nbsp;</th>
              <th class="w150">Date / Created By </th>
              <th class="w100">Scheme Name</th>
              <th class="w100">Contractor Name</th>
              <th class="w135">Category</th>
              <th class="w135">Valid From</th>
              <th class="w135">Valid To</th>
              <th class="w135">Bonus Point</th>
              <th class="w135">Scheme Description</th>
              <!-- <th class="w120 text-center">Open Complaint</th>
              <th class="w120 text-center">Total Complaint</th> -->
              <!-- <th class="w40 text-center">Action</th> -->
            </tr>

          </table>
        </div>

        <div class="header border-bott">
          <table>
            <tr>
              <th class="w30">&nbsp;</th>
              <th class="w150">
                <div class="date-form">
                  <i *ngIf="filter.date" class="material-icons" (click)="filter.date='';getSchemeList() ">clear</i>

                  <mat-form-field>
                    <input placeholder="Date" [(ngModel)]="filter.date" name="date" (click)="openDatePicker(picker)"
                      matInput (dateChange)="getSchemeList()" [matDatepicker]="picker" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                </div>
              </th>

              <th  class="w100">
                <div class="search-form">
                  <input type="text" placeholder="Name" [(ngModel)]="filter.scheme_name"
                    (keyup.enter)="current_page = 1;getSchemeList()">
                  <i class="material-icons">search</i>
                </div>
              </th>

              <th class="w100">
                <!-- <div class="search-form">
                  <input type="text" placeholder="Search.." [(ngModel)]="filter.contractor_name"
                    (keyup.enter)="current_page = 1;getSchemeList()">
                  <i class="material-icons">search</i>
                </div> -->
              </th>

              <th class="w135">
                <!-- <div class="search-form">
                  <input type="text" placeholder="Search.." [(ngModel)]="filter.category_name"
                    (keyup.enter)="current_page = 1;getSchemeList()">
                  <i class="material-icons">search</i>
                </div> -->
              </th>

              <th class="w135">
                <div class="date-form">
                  <i *ngIf="filter.valid_from" class="material-icons"
                    (click)="filter.valid_from='';getSchemeList() ">clear</i>

                  <mat-form-field>
                    <input placeholder="Valid From" [(ngModel)]="filter.valid_from" name="valid_from"
                      (click)="openDatePicker(picker1)" matInput (dateChange)="changeDate($event); getSchemeList()"
                      [matDatepicker]="picker1" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                </div>
              </th>
              <th class="w135">
                <div class="date-form">
                  <i *ngIf="filter.valid_to" class="material-icons"
                    (click)="filter.valid_to='';getSchemeList()">clear</i>

                  <mat-form-field>
                    <input placeholder="Valid To" [(ngModel)]="filter.valid_to" name="valid_to"
                      (click)="openDatePicker(picker2)" matInput (dateChange)="changeDate2($event); getSchemeList()"
                      [matDatepicker]="picker2" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>

                </div>
              </th>
              <th class="w135"></th>

              <th class="w135"></th>


              <!-- <th class="w120"></th>
              <th class="w120"></th> -->
              <!-- <th class="w40"></th> -->
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>


  <div class="css-table" *ngIf="schemeList.length">
    <div class="table-container">
      <div class="table-body">
        <table>
          <tr *ngFor="let val of schemeList; let i = index">
            <td class="w30">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
            <td class="w150">
              <ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' "> {{val.date_created | date: 'dd MMM yyyy'}} / {{val.created_name}} </ng-container>
            </td>
            <td  class="w100"><a class="blue" routerLink="/schemeDetail/{{val.id}}"
                routerLinkActive="active">{{val.scheme_name | titlecase }} </a></td>
            <td class="w100" matTooltip="{{val.category_detail}}" matTooltipPosition="above">
              <div  style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
              {{val.category_detail}}

              </div>
            </td>
            <td class="w135"  matTooltip="{{val.contractor_detail}}" matTooltipPosition="above">
              <div style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
              {{val.contractor_detail | titlecase }}
                
                </div>
            </td>
            <td class="w135">{{val.valid_from | date: 'dd MMM yyyy'}}</td>
            <td class="w135">{{val.valid_to | date: 'dd MMM yyyy'}}</td>
            <td class="w135">{{val.bonus_points | titlecase }}</td>
            <td class="w135">{{val.scheme_desc | titlecase }}</td>
            <!-- <td class="w120 text-center">{{val.open_complaints}}</td>
            <td class="w120 text-center">{{val.complaints}}</td> -->
            <!-- <div class="over-sec">
                <i class="material-icons deactive"  (click)="deleteCustomer(val.id)" >delete_sweep</i>
             </div>  -->
            <!-- </td> -->
            <!-- <td class="w40">
              <i class="material-icons deactive"  (click)="deleteCustomer(val.id)">delete_sweep</i>

            </td> -->

          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container-outer">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="date-not" *ngIf="!loading_list &&  !schemeList.length">
      <div class="no-img">
        <img src="assets/result-not-found.png">
      </div>
    </div>


    <div class="date-not" *ngIf="!loading_list &&  !schemeList.length">
      <div class="no-img">
        <img src="assets/not-available.jpg">
      </div>

    </div>

    <!-- <div class="excel-btn" (click)="exportCustomer()" *ngIf="schemeList.length">
    <div class="image-area">
      <a>
        <img src="assets/excel.svg">
      </a>
    </div>
  </div> -->

  </div>